In [1]:
import pandas as pd

In [4]:
dataset = pd.read_csv("./data/AIRLINE_TICKET_2022.csv", encoding = 'cp949')

display(dataset, dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8274169 entries, 0 to 8274168
Data columns (total 13 columns):
 #   Column       Dtype
---  ------       -----
 0   DEPART_DATE  object
 1   DEPART_TIME  int64
 2   AIRLINE      object
 3   FLIGHT_NO    int64
 4   DEPART       object
 5   ARRIVE       object
 6   CLASS_CODE   object
 7   CLASS_DESC   object
 8   AVAIL_SEAT   int64
 9   FARE_ORIGIN  float64
 10  FARE         int64
 11  SEARCH_DATE  object
 12  SEARCH_TIME  int64
dtypes: float64(1), int64(5), object(7)
memory usage: 820.6+ MB

,DEPART_DATE,DEPART_TIME,AIRLINE,FLIGHT_NO,DEPART,ARRIVE,CLASS_CODE,CLASS_DESC,AVAIL_SEAT,FARE_ORIGIN,FARE,SEARCH_DATE,SEARCH_TIME
0,2022-01-02 00:00:00.000,600,7C,163,GMP,CJU,Y,일반석,9,85000.0,85000,2022-01-01 00:00:00.000,926
1,2022-01-02 00:00:00.000,600,7C,163,GMP,CJU,J,특가석,9,4000.0,4000,2022-01-01 00:00:00.000,926
2,2022-01-02 00:00:00.000,605,OZ,8901,GMP,CJU,Y,일반석,9,103000.0,103000,2022-01-01 00:00:00.000,926
3,2022-01-02 00:00:00.000,605,OZ,8901,GMP,CJU,O,특가석,9,12000.0,12000,2022-01-01 00:00:00.000,926
4,2022-01-02 00:00:00.000,605,LJ,423,GMP,CJU,Z0,특가석,9,4000.0,4000,2022-01-01 00:00:00.000,926
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8274164,2023-01-20 00:00:00.000,940,LJ,307,GMP,CJU,Y,일반석,2,107000.0,107000,2022-12-31 00:00:00.000,602
8274165,2023-01-20 00:00:00.000,1055,OZ,8927,GMP,CJU,Y,일반석,1,120000.0,120000,2022-12-31 00:00:00.000,602
8274166,2023-01-20 00:00:00.000,1135,OZ,8935,GMP,CJU,Y,일반석,1,120000.0,120000,2022-12-31 00:00:00.000,602
8274167,2023-01-20 00:00:00.000,1145,KE,1091,GMP,CJU,Y,일반석,1,136400.0,117000,2022-12-31 00:00:00.000,602
8274168,2023-01-20 00:00:00.000,1255,BX,8043,GMP,CJU,O,일반석,1,106000.0,106000,2022-12-31 00:00:00.000,602

None

In [5]:
dataset = dataset.astype({
    'DEPART_DATE': 'datetime64'
    , 'DEPART_TIME': 'string'
    , 'AIRLINE': 'category'
    , 'FLIGHT_NO': 'string'
    , 'DEPART': 'category'
    , 'ARRIVE': 'category'
    , 'CLASS_CODE': 'category'
    , 'CLASS_DESC': 'category'
    , 'AVAIL_SEAT': 'int64'
    # , 'FARE_ORIGIN': 'int64' # Null값 존재 + KE에서만 유효하다.
    , 'FARE': 'int64'
    , 'SEARCH_DATE': 'datetime64'
    , 'SEARCH_TIME': 'string'
})

display(dataset, dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8274169 entries, 0 to 8274168
Data columns (total 13 columns):
 #   Column       Dtype
---  ------       -----
 0   DEPART_DATE  datetime64[ns]
 1   DEPART_TIME  string
 2   AIRLINE      category
 3   FLIGHT_NO    string
 4   DEPART       category
 5   ARRIVE       category
 6   CLASS_CODE   category
 7   CLASS_DESC   category
 8   AVAIL_SEAT   int64
 9   FARE_ORIGIN  float64
 10  FARE         int64
 11  SEARCH_DATE  datetime64[ns]
 12  SEARCH_TIME  string
dtypes: category(5), datetime64[ns](2), float64(1), int64(2), string(3)
memory usage: 544.5 MB

,DEPART_DATE,DEPART_TIME,AIRLINE,FLIGHT_NO,DEPART,ARRIVE,CLASS_CODE,CLASS_DESC,AVAIL_SEAT,FARE_ORIGIN,FARE,SEARCH_DATE,SEARCH_TIME
0,2022-01-02,600,7C,163,GMP,CJU,Y,일반석,9,85000.0,85000,2022-01-01,926
1,2022-01-02,600,7C,163,GMP,CJU,J,특가석,9,4000.0,4000,2022-01-01,926
2,2022-01-02,605,OZ,8901,GMP,CJU,Y,일반석,9,103000.0,103000,2022-01-01,926
3,2022-01-02,605,OZ,8901,GMP,CJU,O,특가석,9,12000.0,12000,2022-01-01,926
4,2022-01-02,605,LJ,423,GMP,CJU,Z0,특가석,9,4000.0,4000,2022-01-01,926
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8274164,2023-01-20,940,LJ,307,GMP,CJU,Y,일반석,2,107000.0,107000,2022-12-31,602
8274165,2023-01-20,1055,OZ,8927,GMP,CJU,Y,일반석,1,120000.0,120000,2022-12-31,602
8274166,2023-01-20,1135,OZ,8935,GMP,CJU,Y,일반석,1,120000.0,120000,2022-12-31,602
8274167,2023-01-20,1145,KE,1091,GMP,CJU,Y,일반석,1,136400.0,117000,2022-12-31,602
8274168,2023-01-20,1255,BX,8043,GMP,CJU,O,일반석,1,106000.0,106000,2022-12-31,602

None

In [6]:
dataset.to_csv('./data/AIRLINE_TICKET_2022_2.csv', index = False, encoding = 'utf-8-sig')